input:checked {
  accent-color: #9ca73a;
}

input[type="checkbox"] {
  height: 20px; /* Adjust this value to change the checkbox size */
  width: 20px; /* Adjust this value to change the checkbox size */
}
